#navbar {
    z-index: 1000;
    height: 60px;
    display: flex;
  }

h1 {
    width: 100%;
    font-size: 30px;
    text-wrap: wrap;
    text-align: left;
    color: rgb(74, 14, 14);
    padding: 10px;
    background-color:  rgb(238, 230, 196);
    font-family: 'Dancing Script', cursive;
}