.recipe-card {
    display: flex;
background-color: rgb(238, 230, 196);
color: rgb(90, 90, 90);
flex-direction: column;
width: 80%;
border-radius: 70px;
padding: 40px ;
justify-content: space-between;
border: 2px solid purple;
text-align: center;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.recipes-container {
    display: flex;
    width: 750px;
    height: 400px;
    list-style: none;
    padding-left: 140px;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid purple;
    overflow-y: auto;
    
}

.h3 {
   
}

h4 {
    background-color: rgb(238, 230, 196);
}

.btn {
    width: 40px;
    display: flex;
    border: 3px solid purple;
    
}