/* Common styles for recipe card and container */

.recipes-container {
    display: flex;
    flex-wrap: wrap;
    width: 900px; /* Adjusted to fill available space */
    max-width: 1200px; /* Added max-width for better responsiveness */
    height: 300px; /* Adjusted for variable content */
    list-style: none;
    padding: 20px; /* Adjusted padding for better appearance */
    margin: 0 auto; /* Center the container horizontally */
    border: 1px solid rgb(74, 14, 14);
    overflow-y: auto;
}

.recipe-card {
    flex-wrap: wrap;
    width: 180px;
    height: auto; /* Adjusted for variable content */
    padding: 20px; /* Reduced padding for better appearance */
    border-radius: 10px; /* Reduced border radius */
    background-color: rgb(249, 243, 216);
    color: rgb(74, 14, 14);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 10px;
    margin-bottom: 10px;
}

h3 {
    color: rgb(74, 14, 14);
    padding: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-align: center;
}

.btn {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center; /* Center button content */
    align-items: center; /* Center button content */
    border: 1px solid rgb(74, 14, 14);
    border-radius: 50%; /* Rounded button */
    background-color: transparent; /* Transparent background */
    cursor: pointer; /* Add cursor pointer on hover */
    flex-direction: column;
}

.btn:hover {
    background-color: rgb(74, 14, 14);
    color: rgb(238, 230, 196);
}

.recipe-card a {
    color: rgb(74, 14, 14);
    text-decoration: none;
    
}

.recipe-card a:visited {
    color: cream;
}