#sideBar {
    box-sizing: border-box;
    height: 100%;
    width: 130px;
    text-align:end;
    display: flex;
    position: fixed;
    flex-direction: column;
    background-image: url('src/assets/background.jpg');
    top: 0;
    right: 0;
    align-items: center; 
    background-size: cover;
}

.logo {
    width: 150px;
    height: auto;
    top: 0;

    border-radius: 70px; /* Add rounded corners */
    filter: brightness(120%); /* Increase brightness for a vibrant appearance */
    transition: transform 0.3s ease; /* Add transition for smooth animation */
}

.logo:hover {
    filter: drop-shadow(0 0 10px rgba(74, 14, 14, 0.8)); /* Add a dark drop shadow on hover */
    transform: translate(-25px, 25px); /* Move the logo down and to the left on hover */
}


h5{
    padding: 40px 40px;
    box-sizing: border-box;
    color: rgb(231, 229, 164);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px; 
    text-decoration: none;
}
h5 a{
    color: rgb(74, 14, 14);
}

.h5,h4:hover {
    filter: drop-shadow(0 0 2em rgb(74, 14, 14));
}
